{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Подшива</title>
{% endblock %}

{% block main %}
	<div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva1.jpg' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container2">
                    <h2>
                        <p style="text-align: justify;">Подшивка свесов крыши на доме</p>
                    </h2>
                    <p style="text-align: justify;">Подшивка свесов крыши дома является одним из финишных
                        этапов
                        строительства и отделки жилья. Выполнить эту работу возможно несколькими способами, среди
                        которых
                        делается выбор в зависимости от личных предпочтений. При этом надо учитывать, что свесы являются
                        важным функциональным элементом жилого дома и нужны не только для красоты.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Функции подшивки свесов крыши</p>
                    </h2>
                    <p style="text-align: justify;">Правильно выполненная подшивка свесов может выполнять несколько
                        функций сразу:
                    <ul align="left">
                        <li>
                            <p>
                            <h6>Декоративная.</h6>Карниз или свес крыши — это первое, что бросается в глаза находясь
                            рядом с домом. Аккуратно подшитые свесы правильно подобранным материалом делают деревянный
                            дом, в первую очередь, завершённым.</p>
                        </li>
                        <li>
                            <p>
                            <h6>Вентиляционная.</h6>Свободно циркулирующий воздух крайне необходим для материалов, из
                            которых собрана крыша. Под кровлей неминуемо будет скапливаться влага и выпадать конденсат,
                            что поспособствует гниению стропильной системы и обрешётки. Чтобы влага могла свободно
                            удаляться из-под кровельного пространства, в свесах обустраиваются вентиляционные отверстия.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Теплоизоляционная.</h6>Если под кровлей жилое помещение — мансарда — то здесь важно не
                            допустить теплопотерь через какие-либо конструкции крыши. В том числе, это касается подшитых
                            свесов. В таких проектах они надлежащим образом утепляются.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Защитная.</h6>Благодаря зашитым свесам дождевая вода и снег не попадают на силовые
                            элементы стропильной системы, что важно для их защиты от гниения.
                            </p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva4.jpg' %}" alt=""></div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva9.jpeg' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Способы подшивки свесов крыши</p>
                    </h2>
                    <p style="text-align: justify;">Свесы крыши с тех сторон дома, на которые опираются стропильные
                        ноги, можно выполнить двумя способами:
                    <ul align="left">
                        <li>
                            <p>
                            <h6>По стропилам.</h6>На торце свесов монтируется так называемая ветровая доска. На конце
                            каждой стропильной ноги снизу крепится брусок, идущий вдоль всего ската. Аналогичный брусок
                            монтируется к стропилам непосредственно возле стены. Эти две направляющие используются в
                            качестве обрешётки для нашивки облицовочного материала.</p>
                        </li>
                        <li>
                            <p>
                            <h6>Обустройством горизонтального короба.</h6>Более популярный способ, который заключается в
                            следующем. Аналогично вышеописанному монтируется ветровая или лобовая доска. Концы
                            стропильных ног подпиливаются снизу таким образом, чтобы к ним можно было горизонтально
                            закрепить направляющий брусок. Второй опорный брусок крепится непосредственно к одному из
                            венцов сруба, на том же уровне, что и предыдущий. Далее свес зашивается по этим брускам.
                            </p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Шлифовка и окраска погонажных изделий</p>
                    </h2>
                    <p style="text-align: justify;">Чтобы планкен служил долгие годы, не теряя эстетических и
                        эксплуатационных свойств, его поверхность нужно надежно защитить. Наши мастера профессионально
                        прошлифуют и окрасят материал, соблюдая нюансы технологии.
                    <p style="text-align: justify;">Этапы работ:</p>
                    <ul align="left">
                        <li>
                            <p>
                            <h6>Шлифовка.</h6>Служит для устранения неровностей и создания идеально гладкой поверхности
                            для окрашивания.</p>
                        </li>
                        <li>
                            <p>
                            <h6>Грунтовка.</h6>Проводится для улучшения адгезии, выравнивания впитываемости древесины и
                            защиты основы от внешних воздействий.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Подбор цвета.</h6>Мы используем масла Biofa, которые зарекомендовали себя, как лучшее
                            покрытие для древесины за многие годы.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Покраска погонажных изделий.</h6>Выполняется с помощью кистей. Минимальное количество
                            слоев — два. Обязательно полное высыхание краски перед нанесением следующего слоя.
                            </p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva10.webp' %}" alt=""></div>
        </div>
    </div>


    <div>
        <div class="text1">
            <h1 align="center">
                Примеры работ
            </h1>
        </div>
    </div>

    <div class="container-fluid col-md-7">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva3.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva4.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva5.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva6.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/ceiling/podshiva7.jpeg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
