{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Забор</title>
{% endblock %}

{% block main %}
	<div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/defence/defence5.jpeg' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container2">
                    <h2>
                        <p style="text-align: justify;">Деревянные заборы</p>
                    </h2>
                    <p style="text-align: justify;">Несмотря на разнообразие новых материалов, владельцы частных домов,
                        коттеджей, загородных домов предпочитают традиционные заборы из дерева. Природный материал
                        прекрасно вписывается в природный ландшафт участка, придает ему завершенный вид.
                    </p>
                    <p style="text-align: justify;">Стильные ограждения обозначают границы территории, украшают её,
                        защищают от шума, животных, любопытных глаз. Также их используют для зонирования участков:
                        цветники, детские площадки, огороды.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Преимущества заборов из дерева</p>
                    </h2>
                    <ul align="left">
                        <li>
                            <p>
                                Природный материал − экологически чистая древесина не выделяет вредных веществ,
                                безопасна для здоровья.</p>
                        </li>
                        <li>
                            <p>
                                Простота монтажа – быстрая установка, не требующая специального оборудования.</p>
                        </li>
                        <li>
                            <p>
                                Практичность в эксплуатации – при повреждении легко заменить отдельные участки, не
                                нарушая целостность ограждения.</p>
                        </li>
                        <li>
                            <p>
                                Невысокая стоимость – доступная цена в сравнении с другими видами ограждений, подходит
                                для бюджетного строительства.</p>
                        </li>
                        <li>
                            <p>
                                Большой ассортимент дизайнерских решений − разнообразие вариантов на любой вкус.</p>
                        </li>
                        <li>
                            <p>
                                Эстетичный вид – форма и текстура материала придают участку черты индивидуальности.</p>
                        </li>

                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/defence/defence7.jpeg' %}" alt=""></div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/defence/defence8.webp' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Широкие возможности</p>
                    </h2>
                    <p style="text-align: justify;">Всевозможные варианты внешнего вида деревянного ограждения отлично
                        сочетаются с ландшафтным дизайном всех направлений. Дерево – практичный и красивый материал,
                        который позволяет строить заборные ограждения в широком диапазоне параметров:
                    <ul align="left">
                        <li>
                            <p>высота: от 1м. до 3 м.</p>
                        </li>
                        <li>
                            <p>ширина: в зависимости от типа доски;</p>
                        </li>
                        <li>
                            <p>ветровая нагрузка: зависит от типа забора;</p>
                        </li>
                        <li>
                            <p>большой выбор вариантов доски и типа конструкции;</p>
                        </li>
                        <li>
                            <p>естественная фактура при покраске маслом.</p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Шлифовка и окраска погонажных изделий</p>
                    </h2>
                    <p style="text-align: justify;">Чтобы забор служил долгие годы, не теряя эстетических и
                        эксплуатационных свойств, его поверхность нужно надежно защитить. Наши мастера профессионально
                        прошлифуют и окрасят материал, соблюдая нюансы технологии.
                    <p style="text-align: justify;">Этапы работ:</p>
                    <ul align="left">
                        <li>
                            <p>
                            <h6>Шлифовка.</h6>Служит для устранения неровностей и создания идеально гладкой поверхности
                            для окрашивания.</p>
                        </li>
                        <li>
                            <p>
                            <h6>Грунтовка.</h6>Проводится для улучшения адгезии, выравнивания впитываемости древесины и
                            защиты основы от внешних воздействий.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Подбор цвета.</h6>Мы используем масла Biofa, которые зарекомендовали себя, как лучшее
                            покрытие для древесины за многие годы.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Покраска погонажных изделий.</h6>Выполняется с помощью кистей. Минимальное количество
                            слоев — два. Обязательно полное высыхание краски перед нанесением следующего слоя.
                            </p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva10.webp' %}" alt=""></div>
        </div>
    </div>


    <div>
        <div class="text1">
            <h1 align="center">
                Примеры работ
            </h1>
        </div>
    </div>

    <div class="container-fluid col-md-7">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence1.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence2.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence3.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence4.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence5.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence6.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence7.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/defence/defence8.webp' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
