{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Board</title>
{% endblock %}

{% block main %}
	<div class="container">
        <h2>Профессиональная обработка погонажных изделий</h2>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/ceiling/podshiva1.jpg' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container2">
                    <h2>
                        <p style="text-align: justify;">Почему дерево нужно обрабатывать в цеху?</p>
                    </h2>
                    <p style="text-align: justify;">Древесина - прихотливый материал. При её обработке
                        необходимо соблюдать определенную технологию: учитывать влажность материала, температурный
                        режим, технологические паузы.
                    </p>
                    <p style="text-align: justify;">При шлифовке материала, необходимо подобрать нужную фракцию шкурки,
                        чтобы добиться желаемого результата.
                    </p>
                    <p style="text-align: justify;">При работе с маслом, необходима рука умелого специалиста, который
                        знает своё дело и не испортит материал.
                    </p>
                    <p style="text-align: justify;">В нашем цеху соблюдается температурный режим. Перед обработкой,
                        материал проверяется влагомером и досушивается при необходимости.
                    </p>
                    <p style="text-align: justify;">А специалисты с многолетним стажем сумеют идеально обработать ваш
                        материал и сделать его таким, каким он и должен быть.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container3">
                    <h2>
                        <p style="text-align: justify;">Какие изделия мы обрабатываем?</p>
                    </h2>
                    <ul align="left">
                        <li>
                            <p>
                                Вагонка</p>
                        </li>
                        <li>
                            <p>
                                Планкен</p>
                        </li>
                        <li>
                            <p>
                                Террасная доска</p>
                        </li>
                        <li>
                            <p>
                                Половая доска</p>
                        </li>
                        <li>
                            <p>
                                Имитация бруса</p>
                        </li>
                        <li>
                            <p>
                                Блокхаус</p>
                        </li>
                        <li>
                            <p>
                                Деревянные наличники</p>
                        </li>
                        <li>
                            <p>
                                Деревянные балки и фальшбалки</p>
                        </li>
                        <li>
                            <p>
                                Плинтуса</p>
                        </li>
                        <li>
                            <p>
                                Деревянные откосы</p>
                        </li>
                        <li>
                            <p>
                                Подоконники из дерева</p>
                        </li>


                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/planken/planken3.jpeg' %}" alt=""></div>
        </div>
    </div>

    <div class="container1 text-center">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="{% static 'img/planken/planken11-transformed (1).jpeg' %}" alt=""></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div class="container2">
                    <h2>
                        <p style="text-align: justify;">Шлифовка и окраска материала</p>
                    </h2>
                    <p style="text-align: justify;">Чтобы готовые материал не теряли эстетических и
                        эксплуатационных свойств, их поверхность нужно надежно защитить. Наши мастера профессионально
                        прошлифуют и окрасят материал, соблюдая нюансы технологии.
                    <p style="text-align: justify;">Этапы работ:</p>
                    <ul align="left">
                        <li>
                            <p>
                            <h6>Шлифовка.</h6>Служит для устранения неровностей и создания идеально гладкой поверхности
                            для окрашивания.</p>
                        </li>
                        <li>
                            <p>
                            <h6>Грунтовка.</h6>Проводится для улучшения адгезии, выравнивания впитываемости древесины и
                            защиты основы от внешних воздействий.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Подбор цвета.</h6>Мы используем масла Biofa, которые зарекомендовали себя, как лучшее
                            покрытие для древесины за многие годы.
                            </p>
                        </li>
                        <li>
                            <p>
                            <h6>Покраска погонажных изделий.</h6>Выполняется с помощью кистей. Минимальное количество
                            слоев — два. Обязательно полное высыхание краски перед нанесением следующего слоя.
                            </p>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
